<div class="modify_chat_form">
  <div class="chat_content"><%= @chat.content %></div>
    <%= form_for [@book, @conversation, @chat] do |f| %>
      <div class="modify_chat_wrapper">
        <p>Edit your comment below</p>
        <% f.label "Comment" %>
        <%= f.text_area :content %>
      </div>
      <div class="modify_chat_submit">
        <%= f.submit "Update" %>
      </div>
    <% end %>
</div>
