<div class="modify_chat_form">
  <h4>Want to update your Comment?</h4>
  <%= @chat.content %>
    <%= form_for [@book, @conversation, @chat] do |f| %>
      <div class="modify_input_wrapper">
        <p><% f.label "Comment" %></p>
        <p><%= f.text_field :content %></p>
      </div>
      <div class="modify_chat_form_submit">
        <%= f.submit "Update Comment" %>
      </div>
    <% end %>
</div>
