<div class="modify_review_form">
  <div class="show_review_content">
    <%= @review.review %>
  </div>
    <%= form_for [@my_book, @review] do |f| %>
      <div class="modify_review_wrapper">
        <p>Edit your review below</p>
        <% f.label "Review" %>
        <%= f.text_area :review %>
      </div>
      <div class="modify_review_form_submit">
        <%= f.submit "Update Review" %>
      </div>
    <% end %>
</div>
