<div class="book_shower">

  <div class="fourthwave">
    <div class="book16">
      <div class="cover_left"></div>
      <div class="cover_spine"></div>
      <div class="cover_right"></div>
      <div class="l_page_3"></div>
      <div class="r_page_3"></div>
      <div class="l_page_2"></div>
      <div class="r_page_2"></div>
      <div class="l_page_1"></div>
      <div class="r_page_1"></div>
    </div>

    <div class="book17">
      <div class="cover_left"></div>
      <div class="cover_spine"></div>
      <div class="cover_right"></div>
      <div class="l_page_3"></div>
      <div class="r_page_3"></div>
      <div class="l_page_2"></div>
      <div class="r_page_2"></div>
      <div class="l_page_1"></div>
      <div class="r_page_1"></div>
    </div>

    <div class="book18">
      <div class="l_page_00"></div>
      <div class="l_page_0"></div>
      <div class="r_page_00"></div>
      <div class="r_page_0"></div>
      <div class="r_page_1"></div>
      <div class="l_page_1"></div>
      <div class="r_page_2"></div>
      <div class="l_page_2"></div>
      <div class="r_page_3"></div>
      <div class="l_page_3"></div>
      <div class="cover_left"></div>
      <div class="cover_spine"></div>
      <div class="cover_right"></div>
    </div>

    <div class="book19">
      <div class="cover_right"></div>
      <div class="page_1"></div>
      <div class="page_2"></div>
      <div class="page_3"></div>
      <div class="cover_spine"></div>
      <div class="cover_left"></div>
    </div>

    <div class="book20">
      <div class="cover_left"></div>
      <div class="cover_spine"></div>
      <div class="cover_right"></div>
      <div class="l_page_3"></div>
      <div class="r_page_3"></div>
      <div class="l_page_2"></div>
      <div class="r_page_2"></div>
      <div class="l_page_1"></div>
      <div class="r_page_1"></div>
      <div class="r_page_0"></div>
      <div class="r_page_00"></div>
    </div>
  </div>

  <div class="thirdwave">
    <div class="book11">
      <div class="cover_left"></div>
      <div class="cover_spine"></div>
      <div class="cover_right"></div>
      <div class="l_page_3"></div>
      <div class="r_page_3"></div>
      <div class="l_page_2"></div>
      <div class="r_page_2"></div>
      <div class="l_page_1"></div>
      <div class="r_page_1"></div>
    </div>

    <div class="book12">
      <div class="cover_left"></div>
      <div class="cover_spine"></div>
      <div class="cover_right"></div>
      <div class="l_page_3"></div>
      <div class="r_page_3"></div>
      <div class="l_page_2"></div>
      <div class="r_page_2"></div>
      <div class="l_page_1"></div>
      <div class="r_page_1"></div>
    </div>

    <div class="book13">
      <div class="cover_left"></div>
      <div class="cover_spine"></div>
      <div class="cover_right"></div>
      <div class="l_page_3"></div>
      <div class="r_page_3"></div>
      <div class="l_page_2"></div>
      <div class="r_page_2"></div>
      <div class="l_page_1"></div>
      <div class="r_page_1"></div>
      <div class="r_page_0"></div>
      <div class="r_page_00"></div>
    </div>

    <div class="book14">
      <div class="cover_right"></div>
      <div class="page_1"></div>
      <div class="page_2"></div>
      <div class="page_3"></div>
      <div class="cover_spine"></div>
      <div class="cover_left"></div>
    </div>

    <div class="book15">
      <div class="cover_left"></div>
      <div class="cover_spine"></div>
      <div class="cover_right"></div>
      <div class="l_page_3"></div>
      <div class="r_page_3"></div>
      <div class="l_page_2"></div>
      <div class="r_page_2"></div>
      <div class="l_page_1"></div>
      <div class="r_page_1"></div>
      <div class="r_page_0"></div>
      <div class="r_page_00"></div>
    </div>
  </div>

  <div class="secondwave">
    <div class="book6">
      <div class="cover_right"></div>
      <div class="page_1"></div>
      <div class="page_2"></div>
      <div class="page_3"></div>
      <div class="cover_spine"></div>
      <div class="cover_left"></div>
    </div>

    <div class="book7">
      <div class="cover_left"></div>
      <div class="cover_spine"></div>
      <div class="cover_right"></div>
      <div class="l_page_3"></div>
      <div class="r_page_3"></div>
      <div class="l_page_2"></div>
      <div class="r_page_2"></div>
      <div class="l_page_1"></div>
      <div class="r_page_1"></div>
    </div>

    <div class="book8">
      <div class="cover_left"></div>
      <div class="cover_spine"></div>
      <div class="cover_right"></div>
      <div class="l_page_3"></div>
      <div class="r_page_3"></div>
      <div class="l_page_2"></div>
      <div class="r_page_2"></div>
      <div class="l_page_1"></div>
      <div class="r_page_1"></div>
      <div class="r_page_0"></div>
      <div class="r_page_00"></div>
    </div>

    <div class="book9">
      <div class="l_page_00"></div>
      <div class="l_page_0"></div>
      <div class="r_page_00"></div>
      <div class="r_page_0"></div>
      <div class="r_page_1"></div>
      <div class="l_page_1"></div>
      <div class="r_page_2"></div>
      <div class="l_page_2"></div>
      <div class="r_page_3"></div>
      <div class="l_page_3"></div>
      <div class="cover_left"></div>
      <div class="cover_spine"></div>
      <div class="cover_right"></div>
    </div>

    <div class="book10">
      <div class="l_page_00"></div>
      <div class="l_page_0"></div>
      <div class="r_page_00"></div>
      <div class="r_page_0"></div>
      <div class="r_page_1"></div>
      <div class="l_page_1"></div>
      <div class="r_page_2"></div>
      <div class="l_page_2"></div>
      <div class="r_page_3"></div>
      <div class="l_page_3"></div>
      <div class="cover_left"></div>
      <div class="cover_spine"></div>
      <div class="cover_right"></div>
    </div>
  </div>

  <div class="firstwave">
    <div class="book1">
      <div class="cover_left"></div>
      <div class="cover_spine"></div>
      <div class="cover_right"></div>
      <div class="l_page_3"></div>
      <div class="r_page_3"></div>
      <div class="l_page_2"></div>
      <div class="r_page_2"></div>
      <div class="l_page_1"></div>
      <div class="r_page_1"></div>
    </div>

    <div class="book2">
      <div class="cover_left"></div>
      <div class="cover_spine"></div>
      <div class="cover_right"></div>
      <div class="l_page_3"></div>
      <div class="r_page_3"></div>
      <div class="l_page_2"></div>
      <div class="r_page_2"></div>
      <div class="l_page_1"></div>
      <div class="r_page_1"></div>
      <div class="r_page_0"></div>
      <div class="r_page_00"></div>
    </div>

    <div class="book3">
      <div class="cover_right"></div>
      <div class="page_1"></div>
      <div class="page_2"></div>
      <div class="page_3"></div>
      <div class="cover_spine"></div>
      <div class="cover_left"></div>
    </div>

    <div class="book4">
      <div class="l_page_00"></div>
      <div class="l_page_0"></div>
      <div class="r_page_00"></div>
      <div class="r_page_0"></div>
      <div class="r_page_1"></div>
      <div class="l_page_1"></div>
      <div class="r_page_2"></div>
      <div class="l_page_2"></div>
      <div class="r_page_3"></div>
      <div class="l_page_3"></div>
      <div class="cover_left"></div>
      <div class="cover_spine"></div>
      <div class="cover_right"></div>
    </div>

    <div class="book5">
      <div class="cover_left"></div>
      <div class="cover_spine"></div>
      <div class="cover_right"></div>
      <div class="l_page_3"></div>
      <div class="r_page_3"></div>
      <div class="l_page_2"></div>
      <div class="r_page_2"></div>
      <div class="l_page_1"></div>
      <div class="r_page_1"></div>
    </div>

  </div>

</div>
