<div class="book_shower">

  <div class="thirdwave">
    <div class="book9">
      <div class="left1"></div>
      <div class="right1"></div>
    </div>
    <div class="book10">
      <div class="left2"></div>
      <div class="right2"></div>
    </div>
    <div class="book11">
      <div class="left3"></div>
      <div class="right3"></div>
    </div>
    <div class="book12">
      <div class="left4"></div>
      <div class="right4"></div>
    </div>
  </div>

  <div class="secondwave">
    <div class="book5">
      <div class="left1"></div>
      <div class="right1"></div>
    </div>
    <div class="book6">
      <div class="left2"></div>
      <div class="right2"></div>
    </div>
    <div class="book7">
      <div class="left3"></div>
      <div class="right3"></div>
    </div>
    <div class="book8">
      <div class="left4"></div>
      <div class="right4"></div>
    </div>
  </div>

  <div class="firstwave">
    <div class="book1">
      <div class="left1"></div>
      <div class="right1"></div>
    </div>
    <div class="book2">
      <div class="left2"></div>
      <div class="right2"></div>
    </div>
    <div class="book3">
      <div class="left3"></div>
      <div class="right3"></div>
    </div>
    <div class="book4">
      <div class="left4"></div>
      <div class="right4"></div>
    </div>
  </div>

</div>
