<h1 class="brand">wellRead</h1>

<h2 class="about">A digital library &</br>global bookclub</h2>

<div class="sign_up_in">
  <a href="<%= '/users/new' %>" class="sign_up"><button class="button_1">Sign Up</button></a>
  <a href="<%= '/sessions/new' %>" class="sign_in"><button class="button_1">Sign In</button></a>
</div>

<%#= render "falling_books" %>
