<h1>Welcome to WellRead</h1>

<h3>How would you like to start sharing your reading experiances?</h3>

<a href="<%= '/users/new' %>" class="sign_up"><button>Sign Up</button></a>

<a href="<%= '/sessions/new' %>" class="sign_in"><button>Sign In</button></a>
