<h1 class="welcome">Welcome to</h1>
<h1 class="brand">wellRead</h1>

<a href="<%= '/users/new' %>" class="sign_up"><button class="button_1">Sign Up</button></a>

<a href="<%= '/sessions/new' %>" class="sign_in"><button class="button_1">Sign In</button></a>
