<!DOCTYPE html>
<html>
  <head>
    <title>WellRead</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Fredericka+the+Great|Homemade+Apple|Josefin+Slab|Permanent+Marker|Raleway|Reenie+Beanie|Rock+Salt" rel="stylesheet">
    
  </head>
  <body>
    <header>

    </header>
    <%= yield %>
  </body>
</html>
