<div class="modify_quote_form">
  <div class="show_quote_content">
    <%= @quote.quote %>
  </div>
    <%= form_for [@my_book, @quote] do |f| %>
      <div class="modify_quote_wrapper">
        <p>Update your quote below</p>
        <% f.label "Quote" %>
        <%= f.text_area :quote %>
      </div>
      <div class="modify_quote_form_submit">
        <%= f.submit "Update Quote" %>
      </div>
    <% end %>
</div>
