<h1> Quote Index </h1>

<div class="quote_content">
  <ul>
    <% @my_book.quotes.each do |quote| %>
      <li>Page <%= quote.page %>:
      <%=quote.quote%>
      <div id="quote_image" style="width:900px; height:900px; background-image: url(<%= quote.image %>); background-position:center; background-repeat:no-repeat; transform:rotate(90deg);overflow:hidden; background-size:cover;">
        <canvas id="highlight"></canvas>
      </div>
        </li>
    <%end%>
  </ul>
</div>

<div id="sketch">
    <canvas id="paint">
      <p>You don't have html% compatibility in this browser, dude.</p>
    </canvas>
  </div>
