<h1> Quote Index </h1>

<div class="quote_content">
  <ul>
    <% @my_book.quotes.each do |quote| %>
      <li>Page <%= quote.page %>:
      <%=quote.quote%>
      <%= image_tag quote.image %></li>
    <%end%>
  </ul>
</div>
