<h1 class="brand">wellRead</h1>

<div class="searchbar">
  <%= form_tag('search', method: "get") do %>
    <% label_tag(:q, "Search for a book") %>
    <%= text_field_tag(:q, "Looking for a book?") %>
    <%= submit_tag("Search") %>
  <% end %>
</div>
