
  <div class="lend_content">
    <ul>
      <% Lend.all.each do |loan|%>
        <%if loan.my_book.user_id == @user.id %>
            <li><%=loan.friend%></li>
            <li><%=loan.my_book.edition.title%></li>
            <%end%>
      <%end%>
    </ul>
  </div>

  <div class="borrow_content">
    <ul>
      <% Borrow.all.each do |borrowed|%>
        <%if borrowed.user_id == @user.id %>
            <li><%=borrowed.friend%></li>
            <li><%=borrowed.title%></li>
            <%end%>
      <%end%>
    </ul>
  </div>
