<h1 class="brand">wellRead</h1>
<h2 class="warm_returns"> Welcome Back, we missed you!</h2>

<div class="sign_in_form">
  <%= form_tag sessions_path do %>

  <% label_tag :email %>
  <%= text_field_tag :email, params[:email], placeholder: "Email, please!" %>

  <% label_tag :password %>
  <%= password_field_tag :password, placeholder: "Password, please" %>

  <div class="form_submit">
    <%= submit_tag "Log in" %>
  </div>
  <% end %>
</div>
