/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$lightgreen: #D8FFE1;
$greygreen: #CBE8E4;
$green: #97BA80;
$blue: #80A5B2;
$darkblue: #364769;


html {
  box-sizing: border-box;
  height: 100%;
  background: linear-gradient(180deg, #96E4D3, #3A8D6F);
  font-family: Raleway;
  overflow: auto;
}

body {
  position: relative;
  height: 100%;
  overflow: scroll;
  width: 100%;
  margin: 0;
}

div.login {
  margin: 3%;
  font-size: 2em;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

input,
button:active {
  outline: none;
}
