/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* COLOUR VARIABLES */
$lightgreen: #D8FFE1;
$greygreen: #CBE8E4;
$green: #97BAA4;
$blue: #80A5B2;
$darkblue: #364769;
$greyblue: #B4CAD4;

* {
  outline: none;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: $blue;
  font-family: Raleway;
  overflow: auto;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
}

header {
  width: 100%;
  height: 44px;
  right: 0px;
  background-color: $greyblue;
  position: relative;
  border-bottom: 4px solid white;
}

span.session {
  position: absolute;
  right: 0;
  font-size: 1.1em;
  color: #80A5B2;
  padding: 3.5%;
}

span.back {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2.5% 3%;
  font-size: 1.5em;
  background-color: #C8DFEB;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

input,
button:active {
  outline: none;
}
