// Place all the styles related to the borrows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.create_borrow {
  width: 94%;
  margin: 0;
  padding: 3%;
  text-align: center;
}

div.create_borrow h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px #364769;
  margin: 15% auto 10%;
  max-height: 300px;
  overflow: auto;
}

div.create_borrow input {
  width: 85%;
  height: 40px;
  border-radius: 20px;
  font-size: 1.2em;
  font-family: Raleway;
  padding: 2%;
  text-align: center;
  margin: 2%;
}

div.borrow_submit input {
  width: 60%;
  height: 42px;
  display: block;
  margin: 4% auto;
  padding: 1.5%;
  border-radius: 100px;
  background-color: #CBE8E4;
  color: black;
  border: 1px solid #364769;
  box-shadow: 3px 8px;
  font-family: Raleway;
  font-size: 1.35em;
}

div.borrow_submit input:active {
  box-shadow: 0 2px;
  transform: translateY(6px);
}
