// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.modify_chat_form {
  width: 88%;
  margin: 8% auto;
  padding: 0 4% 4%;
  font-size: 1.15em;
  line-height: 1.13;
}

div.chat_content {
  background-color: #CBE8E4;
  border-radius: 10px;
  font-size: 1em;
  padding: 3%;
}

div.modify_chat_wrapper p {
  font-family: 'Bad Script', cursive;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 2px 2px #364769;
  color: white;
  margin: 10% auto 3%;
}

div.modify_chat_wrapper textarea {
  width: 96%;
  margin: auto;
  border-radius: 10px;
  height: 200px;
  font-size: 1em;
  line-height: 1.14;
  font-family: Raleway;
  padding: 3%;
}

div.modify_chat_submit {
  text-align: center;
}

div.modify_chat_submit input {
  width: 40%;
  font-size: 0.9em;
  padding: 3%;
  border-radius: 100px;
  background-color: #CBE8E4;
  border: 1px solid #364769;
  box-shadow: 3px 10px;
  outline: none;
}

div.modify_chat_submit input:active {
  box-shadow: 0 2px;
  transform: translateY(8px);
  outline: none;
}
