// Place all the styles related to the libraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// LIBRARY SHOW PAGE

nav.library_nav {
  border: 1px solid black;
  position: fixed;
  height: 135px;
  width: 100%;
  bottom: 0;
  // padding: 10%;
  text-align: center;
}

.button_2 {
  position: relative;
  width: 40%;
  margin: 5% 2% 0;
  padding: 2%;
  font-size: 1.2em;
  border-radius: 100px;
  background-color: #CBE8E4;
  border: 1px solid black;
  box-shadow: 3px 8px;
  font-family: Raleway;
}

.button_2:active {
  box-shadow: 0 2px;
  transform: translateY(6px);
}

.book_pile {
    width: 100%;
    height: 375px;
    margin: 48px auto auto;
    bottom: 135px;
    position: fixed;
    overflow: scroll;
    border: 1px solid black;
    // display: flex;
    // // align-items: center;
    // flex-direction: column;
}

.book_pile > div {
    margin: auto;
    text-align: center;
    position: relative;
}

div.book_style1 {
  width: 300px;
  height: 70px;
  background: linear-gradient(#206350, #277861, #277861, #206350);
  border-radius: 15px;
  border: 1px solid black;
  position: relative;
}

div.book_style1 .inner_border {
  overflow: scroll;
  border: 2px solid #20854F;
  height: 87%;
  width: 92%;
  margin: 1% auto;
  border-radius: 10px;
  position: relative;
}

div.book_style1 .inner_border .stripe1 {
  height: 100%;
  width: 20px;
  background: linear-gradient(#20854F, #25995B, #25995B, #20854F);
  margin-left: 8%;
  position: absolute;
}

div.book_style1 .inner_border .stripe2 {
  height: 100%;
  width: 8px;
  background: linear-gradient(#20854F, #25995B, #25995B, #20854F);
  margin-left: 18%;
  position: absolute;
}

div.book_style1 .inner_border .stripe3 {
  height: 100%;
  width: 15px;
  background: linear-gradient(#20854F, #25995B, #25995B, #20854F);
  margin-left: 90%;
  position: absolute;
}

div.book_style2{
  width: 300px;
  height: 70px;
  background: linear-gradient(#B89275, #D9AD8A, #D9AD8A, #B89275);
  border-radius: 15px;
  border: 1px solid black;
  position: relative;
}

div.book_style2 .inner_border {
  overflow: scroll;
  border: 2px solid #B8703B;
  height: 87%;
  width: 92%;
  margin: 1% auto;
  border-radius: 10px;
  position: relative;
}

div.book_style2 .inner_border .stripe1 {
  height: 100%;
  width: 8px;
  background: linear-gradient(#B8703B, #E38A49, #E38A49, #B8703B);
  margin-left: 5%;
  position: absolute;
}

div.book_style2 .inner_border .stripe2 {
  height: 44px;
  width: 44px;
  background: linear-gradient(135deg, #B8703B, #E38A49, #E38A49, #B8703B);
  margin-left: 8%;
  margin-top: 3%;
  position: absolute;
  transform: rotate(45deg);
}

div.book_style2 .inner_border .stripe3 {
  height: 100%;
  width: 8px;
  background: linear-gradient(#B8703B, #E38A49, #E38A49, #B8703B);
  margin-left: 24.5%;
  position: absolute;
}

div.book_style2 .inner_border .stripe4 {
  height: 100%;
  width: 15px;
  background: linear-gradient(#B8703B, #E38A49, #E38A49, #B8703B);
  margin-left: 90%;
  position: absolute;
}

div.book_style3{
  width: 300px;
  height: 70px;
  background: linear-gradient(#2E3C5C, #37486E, #37486E, #2E3C5C);
  border-radius: 15px;
  border: 1px solid black;
  position: relative;
}

div.book_style3 .inner_border {
  overflow: scroll;
  border: 2px solid #D4CCA5;
  height: 87%;
  width: 92%;
  margin: 1% auto;
  border-radius: 10px;
  position: relative;
}

div.book_style3 .inner_border .stripe1 {
  height: 100%;
  width: 15px;
  background: linear-gradient(#D4CCA5, #FCF3C4, #FCF3C4, #D4CCA5);
  margin-left: 5%;
  position: absolute;
  opacity: 0.9;
}

div.book_style3 .inner_border .stripe2 {
  height: 100%;
  width: 3px;
  background: linear-gradient(135deg, #D4CCA5, #FCF3C4, #FCF3C4, #D4CCA5);
  margin-left: 12%;
  position: absolute;
  opacity: 0.9;
}

div.book_style3 .inner_border .stripe3 {
  height: 100%;
  width: 3px;
  background: linear-gradient(#D4CCA5, #FCF3C4, #FCF3C4, #D4CCA5);
  margin-left: 14%;
  position: absolute;
  opacity: 0.9;
}

div.book_style3 .inner_border .stripe4 {
  height: 100%;
  width: 15px;
  background: linear-gradient(#D4CCA5, #FCF3C4, #FCF3C4, #D4CCA5);
  margin-left: 88%;
  position: absolute;
  opacity: 0.9;
}

div.book_style3 .inner_border .stripe5 {
  height: 100%;
  width: 3px;
  background: linear-gradient(#D4CCA5, #FCF3C4, #FCF3C4, #D4CCA5);
  margin-left: 95%;
  position: absolute;
  opacity: 0.9;
}

div.book_style4{
  width: 300px;
  height: 70px;
  background: linear-gradient(#67717A, #86929E, #86929E, #67717A);
  border-radius: 15px;
  border: 1px solid black;
  position: relative;
}

div.book_style4 .inner_border {
  overflow: scroll;
  border: 2px solid #A39AB5;
  height: 87%;
  width: 92%;
  margin: 1% auto;
  border-radius: 10px;
  position: relative;
}

div.book_style4 .inner_border .stripe1 {
  height: 100%;
  width: 20px;
  background: linear-gradient(#A39AB5, #C3B8D9, #C3B8D9, #A39AB5);
  margin-left: 5%;
  position: absolute;
}

div.book_style4 .inner_border .stripe2 {
  height: 15px;
  width: 15px;
  background: linear-gradient(35deg, #A39AB5, #C3B8D9, #C3B8D9, #A39AB5);
  margin-left: 84%;
  position: absolute;
  transform: rotate(90deg);
  margin-top: 3%;
}

div.book_style4 .inner_border .stripe3 {
  height: 15px;
  width: 15px;
  background: linear-gradient(-35deg, #A39AB5, #C3B8D9, #C3B8D9, #A39AB5);
  margin-left: 84%;
  position: absolute;
  transform: rotate(90deg);
  margin-top: 14%;
}

div.book_style4 .inner_border .stripe4 {
  height: 100%;
  width: 12px;
  background: linear-gradient(135deg, #A39AB5, #C3B8D9, #C3B8D9, #A39AB5);
  margin-left: 78%;
  position: absolute;
}

div.book_style4 .inner_border .stripe5 {
  height: 100%;
  width: 12px;
  background: linear-gradient(#A39AB5, #C3B8D9, #C3B8D9, #A39AB5);
  margin-left: 91.5%;
  position: absolute;
}

div.book_style5 {
  width: 300px;
  height: 70px;
  background: linear-gradient(#2B1215, #3B191C, #3B191C, #2B1215);
  border-radius: 15px;
  border: 1px solid black;
  position: relative;
}

div.book_style5 .inner_border {
  overflow: scroll;
  border: 2px solid #E8B7B6;
  height: 87%;
  width: 92%;
  margin: 1% auto;
  border-radius: 10px;
  position: relative;
}

div.book_style5 .inner_border .stripe1 {
  height: 100%;
  width: 20px;
  background: linear-gradient(#E8B7B6, #FFC9C9, #FFC9C9, #E8B7B6);
  margin-left: 5%;
  position: absolute;
}

div.book_style5 .inner_border .stripe2 {
  height: 100%;
  width: 3px;
  background: linear-gradient(#E8B7B6, #FFC9C9, #FFC9C9, #E8B7B6);
  margin-left: 14%;
  position: absolute;
}

div.book_style5 .inner_border .stripe3 {
  height: 100%;
  width: 3px;
  background: linear-gradient(#E8B7B6, #FFC9C9, #FFC9C9, #E8B7B6);
  margin-left: 84%;
  position: absolute;
}

div.book_style5 .inner_border .stripe4 {
  height: 100%;
  width: 3px;
  background: linear-gradient(#E8B7B6, #FFC9C9, #FFC9C9, #E8B7B6);
  margin-left: 87%;
  position: absolute;
}

div.book_style5 .inner_border .stripe5 {
  height: 100%;
  width: 15px;
  background: linear-gradient(135deg, #E8B7B6, #FFC9C9, #FFC9C9, #E8B7B6);
  margin-left: 90%;
  position: absolute;
}
