// Place all the styles related to the libraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// LIBRARY SHOW PAGE

nav.library_nav {
  position: absolute;
  height: 15%;
  width: 80%;
  bottom: 0;
  padding: 10%;
  text-align: center;
}

.button_2 {
  position: relative;
  width: 40%;
  height: 35%;
  margin: 20% 4%;
  font-size: 2.5em;
  border-radius: 100px;
  background-color: #96E4D3;
  border: 2px solid black;
  box-shadow: 0 25px;
  font-family: Raleway;
}

.button_2:active {
  box-shadow: 0 10px;
  transform: translateY(15px);
  outline: none;
}

.book_pile {
    width: 100%;
    height: 80%;
    margin: auto;
    bottom: 0;
    position: absolute;
    overflow: scroll;

}

.book_pile > div {
    margin: auto;
    font-size: 2.5em;
    text-align: center;

}


.book_style1{
    width:70%;
    height: 10%;
    background-color: #803D59;
    border-radius: 20px;
    border: 5px solid black;
}

.book_style2{
    width: 70%;
    height: 10%;
    background-color: #114991;
    border-radius: 20px;
    border: 5px solid black;
}

.book_style3{
    width: 70%;
    height: 10%;
    background-color: #EEA84B;
    border-radius: 20px;
    border: 5px solid black;
}

.book_style4{
    width: 70%;
    height: 10%;
    background-color: #346D46;
    border-radius: 20px;
    border: 5px solid black;
}
