// Place all the styles related to the libraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// LIBRARY SHOW PAGE

nav.library_nav {
  position: fixed;
  height: 24%;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.button_2 {
  position: relative;
  width: 40%;
  margin: 5% 2% 0;
  padding: 2%;
  font-size: 0.9em;
  border-radius: 100px;
  background-color: #CBE8E4;
  border: 1px solid black;
  box-shadow: 3px 8px;
  font-family: Raleway;
}

.button_2:active {
  box-shadow: 0 2px;
  transform: translateY(6px);
}

.book_pile {
  width: 100%;
  height: 58%;
  margin: auto;
  position: fixed;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 22%;
}

div.book_style1,
div.book_style2,
div.book_style3,
div.book_style4,
div.book_style5 {
  width: 100%;
  min-height: 67px;
  position: relative;
  margin: 0.05%;
}

div.book_style1 div.book_cover {
  width: 240px;
  height: 100%;
  background: linear-gradient(#206350, #277861, #277861, #206350);
  border-radius: 5px 3px 3px 10px;
  border: 1px solid black;
  margin: 1px 40px;
}

div.book_style1 div.book_top {
  width: 238px;
  height: 8px;
  background: linear-gradient(#206350, #277861, #277861, #206350);
  border: 1px solid black;
  transform: skewX(-40deg);
  position: absolute;
  margin-left: 44px;
  top: -13%;
}

div.book_style1 div.book_top_width {
  width: 5.5px;
  height: 4px;
  background: linear-gradient(#206350, #277861, #277861, #206350);
  border: 1px solid black;
  transform: skewY(-50deg);
  position: absolute;
  right: 10%;
  top: -7%;
}

div.book_style1 div.book_bottom_width {
  width: 5.5px;
  height: 4px;
  background: linear-gradient(#206350, #277861, #277861, #206350);
  border: 1px solid black;
  transform: skewY(-50deg);
  position: absolute;
  right: 10%;
  bottom: 8%;
}

div.book_style1 div.book_pages {
  width: 4px;
  height: 57px;
  background: linear-gradient(white, grey);
  border: 1px solid black;
  position: absolute;
  transform: skewY(-50deg);
  right: 10.5%;
  top: 0;
}

div.book_style1 .inner_border {
  overflow: scroll;
  border: 2px solid #20854F;
  height: 87%;
  width: 92%;
  margin: 1% auto;
  border-radius: 10px;
  position: relative;
}

div.book_style1 .inner_border .stripe1 {
  height: 100%;
  width: 20px;
  background: linear-gradient(#20854F, #25995B, #25995B, #20854F);
  margin-left: 8%;
  position: absolute;
}

div.book_style1 .inner_border .stripe2 {
  height: 100%;
  width: 8px;
  background: linear-gradient(#20854F, #25995B, #25995B, #20854F);
  margin-left: 18%;
  position: absolute;
}

div.book_style1 div.spine {
  height: 90%;
  width: 65%;
  margin-left: 22%;
  position: absolute;
  text-align: center;
  padding: 1%;
  overflow: scroll;
}

div.book_style1 .inner_border .stripe3 {
  height: 100%;
  width: 15px;
  background: linear-gradient(#20854F, #25995B, #25995B, #20854F);
  margin-left: 90%;
  position: absolute;
}

/* BOOK 2 */

div.book_style2 div.book_cover {
  width: 240px;
  height: 100%;
  background: linear-gradient(#B89275, #D9AD8A, #D9AD8A, #B89275);
  border-radius: 5px 3px 3px 10px;
  border: 1px solid black;
  margin: 1px 40px;
}

div.book_style2 div.book_top {
  width: 238px;
  height: 8px;
  background: linear-gradient(#B89275, #D9AD8A, #D9AD8A, #B89275);
  border: 1px solid black;
  transform: skewX(-40deg);
  position: absolute;
  margin-left: 44px;
  top: -13%;
}

div.book_style2 div.book_top_width {
  width: 5.5px;
  height: 4px;
  background: linear-gradient(#B89275, #D9AD8A, #D9AD8A, #B89275);
  border: 1px solid black;
  transform: skewY(-50deg);
  position: absolute;
  right: 10%;
  top: -7%;
}

div.book_style2 div.book_bottom_width {
  width: 5.5px;
  height: 4px;
  background: linear-gradient(#B89275, #D9AD8A, #D9AD8A, #B89275);
  border: 1px solid black;
  transform: skewY(-50deg);
  position: absolute;
  right: 10%;
  bottom: 8%;
}

div.book_style2 div.book_pages {
  width: 4px;
  height: 57px;
  background: linear-gradient(white, grey);
  border: 1px solid black;
  position: absolute;
  transform: skewY(-50deg);
  right: 10.5%;
  top: 0;
}

div.book_style2 .inner_border {
  overflow: scroll;
  border: 2px solid #B8703B;
  height: 87%;
  width: 92%;
  margin: 1% auto;
  border-radius: 10px;
  position: relative;
}

div.book_style2 .inner_border .stripe1 {
  height: 100%;
  width: 8px;
  background: linear-gradient(#B8703B, #E38A49, #E38A49, #B8703B);
  margin-left: 5%;
  position: absolute;
}

div.book_style2 .inner_border .stripe2 {
  height: 44px;
  width: 44px;
  background: linear-gradient(135deg, #B8703B, #E38A49, #E38A49, #B8703B);
  margin-left: 8%;
  margin-top: 3%;
  position: absolute;
  transform: rotate(45deg);
}

div.book_style2 div.spine {
  height: 90%;
  width: 58%;
  margin-left: 29%;
  position: absolute;
  text-align: center;
  padding: 1%;
  overflow: scroll;
}

div.book_style2 .inner_border .stripe3 {
  height: 100%;
  width: 8px;
  background: linear-gradient(#B8703B, #E38A49, #E38A49, #B8703B);
  margin-left: 24.5%;
  position: absolute;
}

div.book_style2 .inner_border .stripe4 {
  height: 100%;
  width: 15px;
  background: linear-gradient(#B8703B, #E38A49, #E38A49, #B8703B);
  margin-left: 90%;
  position: absolute;
}

/*BOOK 3*/

div.book_style3 div.book_cover {
  width: 240px;
  height: 100%;
  background: linear-gradient(#2E3C5C, #37486E, #37486E, #2E3C5C);
  border-radius: 5px 3px 3px 10px;
  border: 1px solid black;
  margin: 1px 40px;
}

div.book_style3 div.book_top {
  width: 238px;
  height: 8px;
  background: linear-gradient(#2E3C5C, #37486E, #37486E, #2E3C5C);
  border: 1px solid black;
  transform: skewX(-40deg);
  position: absolute;
  margin-left: 44px;
  top: -13%;
}

div.book_style3 div.book_top_width {
  width: 5.5px;
  height: 4px;
  background: linear-gradient(#2E3C5C, #37486E, #37486E, #2E3C5C);
  border: 1px solid black;
  transform: skewY(-50deg);
  position: absolute;
  right: 10%;
  top: -7%;
}

div.book_style3 div.book_bottom_width {
  width: 5.5px;
  height: 4px;
  background: linear-gradient(#2E3C5C, #37486E, #37486E, #2E3C5C);
  border: 1px solid black;
  transform: skewY(-50deg);
  position: absolute;
  right: 10%;
  bottom: 8%;
}

div.book_style3 div.book_pages {
  width: 4px;
  height: 57px;
  background: linear-gradient(white, grey);
  border: 1px solid black;
  position: absolute;
  transform: skewY(-50deg);
  right: 10.5%;
  top: 0;
}

div.book_style3 .inner_border {
  overflow: scroll;
  border: 2px solid #D4CCA5;
  height: 87%;
  width: 92%;
  margin: 1% auto;
  border-radius: 10px;
  position: relative;
}

div.book_style3 .inner_border .stripe1 {
  height: 100%;
  width: 15px;
  background: linear-gradient(#D4CCA5, #FCF3C4, #FCF3C4, #D4CCA5);
  margin-left: 5%;
  position: absolute;
  opacity: 0.9;
}

div.book_style3 .inner_border .stripe2 {
  height: 100%;
  width: 3px;
  background: linear-gradient(135deg, #D4CCA5, #FCF3C4, #FCF3C4, #D4CCA5);
  margin-left: 12%;
  position: absolute;
  opacity: 0.9;
}

div.book_style3 div.spine {
  height: 90%;
  width: 69%;
  margin-left: 16%;
  position: absolute;
  text-align: center;
  padding: 1%;
  overflow: scroll;
}

div.book_style3 .inner_border .stripe3 {
  height: 100%;
  width: 3px;
  background: linear-gradient(#D4CCA5, #FCF3C4, #FCF3C4, #D4CCA5);
  margin-left: 14%;
  position: absolute;
  opacity: 0.9;
}

div.book_style3 .inner_border .stripe4 {
  height: 100%;
  width: 15px;
  background: linear-gradient(#D4CCA5, #FCF3C4, #FCF3C4, #D4CCA5);
  margin-left: 88%;
  position: absolute;
  opacity: 0.9;
}

div.book_style3 .inner_border .stripe5 {
  height: 100%;
  width: 3px;
  background: linear-gradient(#D4CCA5, #FCF3C4, #FCF3C4, #D4CCA5);
  margin-left: 95%;
  position: absolute;
  opacity: 0.9;
}

/*BOOK 4*/

div.book_style4 div.book_cover {
  width: 240px;
  height: 100%;
  background: linear-gradient(#67717A, #86929E, #86929E, #67717A);
  border-radius: 5px 3px 3px 10px;
  border: 1px solid black;
  margin: 1px 40px;
}

div.book_style4 div.book_top {
  width: 238px;
  height: 8px;
  background: linear-gradient(#67717A, #86929E, #86929E, #67717A);
  border: 1px solid black;
  transform: skewX(-40deg);
  position: absolute;
  margin-left: 44px;
  top: -13%;
}

div.book_style4 div.book_top_width {
  width: 5.5px;
  height: 4px;
  background: linear-gradient(#67717A, #86929E, #86929E, #67717A);
  border: 1px solid black;
  transform: skewY(-50deg);
  position: absolute;
  right: 10%;
  top: -7%;
}

div.book_style4 div.book_bottom_width {
  width: 5.5px;
  height: 4px;
  background: linear-gradient(#67717A, #86929E, #86929E, #67717A);
  border: 1px solid black;
  transform: skewY(-50deg);
  position: absolute;
  right: 10%;
  bottom: 8%;
}

div.book_style4 div.book_pages {
  width: 4px;
  height: 57px;
  background: linear-gradient(white, grey);
  border: 1px solid black;
  position: absolute;
  transform: skewY(-50deg);
  right: 10.5%;
  top: 0;
}

div.book_style4 .inner_border {
  overflow: scroll;
  border: 2px solid #A39AB5;
  height: 87%;
  width: 92%;
  margin: 1% auto;
  border-radius: 10px;
  position: relative;
}

div.book_style4 .inner_border .stripe1 {
  height: 100%;
  width: 20px;
  background: linear-gradient(#A39AB5, #C3B8D9, #C3B8D9, #A39AB5);
  margin-left: 5%;
  position: absolute;
}

div.book_style4 .inner_border .stripe2 {
  height: 15px;
  width: 15px;
  background: linear-gradient(35deg, #A39AB5, #C3B8D9, #C3B8D9, #A39AB5);
  margin-left: 84%;
  position: absolute;
  transform: rotate(90deg);
  margin-top: 3%;
}

div.book_style4 div.spine {
  height: 90%;
  width: 60%;
  margin-left: 15%;
  position: absolute;
  text-align: center;
  padding: 1%;
  overflow: scroll;
}

div.book_style4 .inner_border .stripe3 {
  height: 15px;
  width: 15px;
  background: linear-gradient(-35deg, #A39AB5, #C3B8D9, #C3B8D9, #A39AB5);
  margin-left: 84%;
  position: absolute;
  transform: rotate(90deg);
  margin-top: 14%;
}

div.book_style4 .inner_border .stripe4 {
  height: 100%;
  width: 12px;
  background: linear-gradient(135deg, #A39AB5, #C3B8D9, #C3B8D9, #A39AB5);
  margin-left: 78%;
  position: absolute;
}

div.book_style4 .inner_border .stripe5 {
  height: 100%;
  width: 12px;
  background: linear-gradient(#A39AB5, #C3B8D9, #C3B8D9, #A39AB5);
  margin-left: 91.5%;
  position: absolute;
}

/*BOOK 5*/

div.book_style5 div.book_cover {
  width: 240px;
  height: 100%;
  background: linear-gradient(#2B1215, #3B191C, #3B191C, #2B1215);
  border-radius: 5px 3px 3px 10px;
  border: 1px solid black;
  margin: 1px 40px;
}

div.book_style5 div.book_top {
  width: 238px;
  height: 8px;
  background: linear-gradient(#2B1215, #3B191C, #3B191C, #2B1215);
  border: 1px solid black;
  transform: skewX(-40deg);
  position: absolute;
  margin-left: 44px;
  top: -13%;
}

div.book_style5 div.book_top_width {
  width: 5.5px;
  height: 4px;
  background: linear-gradient(#2B1215, #3B191C, #3B191C, #2B1215);
  border: 1px solid black;
  transform: skewY(-50deg);
  position: absolute;
  right: 10%;
  top: -7%;
}

div.book_style5 div.book_bottom_width {
  width: 5.5px;
  height: 4px;
  background: linear-gradient(#2B1215, #3B191C, #3B191C, #2B1215);
  border: 1px solid black;
  transform: skewY(-50deg);
  position: absolute;
  right: 10%;
  bottom: 8%;
}

div.book_style5 div.book_pages {
  width: 4px;
  height: 57px;
  background: linear-gradient(white, grey);
  border: 1px solid black;
  position: absolute;
  transform: skewY(-50deg);
  right: 10.5%;
  top: 0;
}

div.book_style5 .inner_border {
  overflow: scroll;
  border: 2px solid #E8B7B6;
  height: 87%;
  width: 92%;
  margin: 1% auto;
  border-radius: 10px;
  position: relative;
}

div.book_style5 .inner_border .stripe1 {
  height: 100%;
  width: 20px;
  background: linear-gradient(#E8B7B6, #FFC9C9, #FFC9C9, #E8B7B6);
  margin-left: 5%;
  position: absolute;
}

div.book_style5 .inner_border .stripe2 {
  height: 100%;
  width: 3px;
  background: linear-gradient(#E8B7B6, #FFC9C9, #FFC9C9, #E8B7B6);
  margin-left: 14%;
  position: absolute;
}

div.book_style5 div.spine {
  height: 90%;
  width: 64%;
  margin-left: 16%;
  position: absolute;
  text-align: center;
  padding: 1%;
  overflow: scroll;
}

div.book_style5 .inner_border .stripe3 {
  height: 100%;
  width: 3px;
  background: linear-gradient(#E8B7B6, #FFC9C9, #FFC9C9, #E8B7B6);
  margin-left: 84%;
  position: absolute;
}

div.book_style5 .inner_border .stripe4 {
  height: 100%;
  width: 3px;
  background: linear-gradient(#E8B7B6, #FFC9C9, #FFC9C9, #E8B7B6);
  margin-left: 87%;
  position: absolute;
}

div.book_style5 .inner_border .stripe5 {
  height: 100%;
  width: 15px;
  background: linear-gradient(135deg, #E8B7B6, #FFC9C9, #FFC9C9, #E8B7B6);
  margin-left: 90%;
  position: absolute;
}

/* SHELF */

div.bookshelf {
  width: 90%;
  height: 100px;
  position: relative;
  margin-left: 8%;
  margin-top: -10%;
}

div.top {
  width: 95%;
  height: 40px;
  transform: skewX(-40deg);
  background-color: grey;
  border: 1px solid black;
  left: -4px;
  position: absolute;
}

div.middle {
  width: 95%;
  height: 15px;
  background-color: grey;
  border: 1px solid black;
  position: absolute;
  top: 41px;
  left: -20px;
}

div.topside {
  width: 11.25%;
  height: 15px;
  background-color: grey;
  border: 1px solid black;
  position: absolute;
  top: 21px;
  right: -1.5px;
  transform: skewY(-50deg);
}

div.front {
  width: 91%;
  height: 50px;
  background: linear-gradient(grey, grey, #80A5B2);
  border-left: 1px solid black;
  position: absolute;
  top: 40px;
  left: -12px;
}

div.side {
  width: 12.5%;
  height: 50px;
  background: linear-gradient(grey, grey, #80A5B2);
  border-left: 1px solid black;
  border-right: 1px solid black;
  position: absolute;
  top: 23px;
  right: 0px;
  transform: skewY(-50deg);
}


/* DEVICE SPECIFICATIONS */

@media (min-height: 568px) {
  .book_pile {
    height: 62%;
  }
}

@media (min-height: 640px) {
  .book_pile {
    margin-top: 40px auto auto;
    height: 65%;
  }

  div.book_style1 > div.book_cover,
  div.book_style2 > div.book_cover,
  div.book_style3 > div.book_cover,
  div.book_style4 > div.book_cover,
  div.book_style5 > div.book_cover {
    width: 275px;
  }

  div.book_style1 > div.book_top,
  div.book_style2 > div.book_top,
  div.book_style3 > div.book_top,
  div.book_style4 > div.book_top,
  div.book_style5 > div.book_top {
    width: 273px;
  }

  nav.library_nav {
    height: 19%;
  }
}

@media (min-height: 667px) {
  .book_pile {
    height: 68%;
  }

  div.book_style1 > div.book_cover,
  div.book_style2 > div.book_cover,
  div.book_style3 > div.book_cover,
  div.book_style4 > div.book_cover,
  div.book_style5 > div.book_cover {
    width: 290px;
  }

  div.book_style1 > div.book_top,
  div.book_style2 > div.book_top,
  div.book_style3 > div.book_top,
  div.book_style4 > div.book_top,
  div.book_style5 > div.book_top {
    width: 288px;
  }

}

@media (min-height: 732px) {
  .book_pile {
    margin-top: 0;
    height: 70%;
  }

  div.book_style1 > div.book_cover,
  div.book_style2 > div.book_cover,
  div.book_style3 > div.book_cover,
  div.book_style4 > div.book_cover,
  div.book_style5 > div.book_cover {
    width: 322px;
  }

  div.book_style1 > div.book_top,
  div.book_style2 > div.book_top,
  div.book_style3 > div.book_top,
  div.book_style4 > div.book_top,
  div.book_style5 > div.book_top {
    width: 320px;
  }
}
