// Place all the styles related to the my_books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// READING PROGRESS BAR

div.prog_statement {
  margin: 2% auto -3%;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  opacity: 0.7;
}

div.prog_statement h2 {
  display: inline;
  margin-right: 2%;
}

div.reading_progress {
  width: 90%;
  height: 12px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  margin: 3% auto;
  position: relative;
}

div.progress_track {
  display: inline;
  height: 100%;
  margin: 0;
}

progress[value]::-webkit-progress-bar {
  border-radius: 20px;
  background-color: white;
}

progress[value]::-webkit-progress-value {
  border-radius: 20px;
  background: linear-gradient(45deg, #D8FFE1, #97BAA4);
}

input#user_page {
  margin: 0 1% 0 -1%;
  font-size: 1.25em;
  width: 7%;
  border-radius: 5px;
  padding: 0.5%;
}

progress {
  position: absolute;
  border: 0;
  height: 100%;
  width: 100%;
  border-radius: 100px;
}

div.rating {
  border: 1px solid black;
  position: relative;
  right: 0;
  bottom: 0;
  width: 93%;
  height: 12%;
  margin: 4% 2% 2% 3%;
}

// REVIEWS

div.review_wrapper {
  width: 100%;
  text-align: center;
}

div.create_review h1 {
  font-size: 2em;
  font-family: 'Over the Rainbow', cursive;
  margin: 10% auto 3%;
  line-height: 1;
  opacity: 0.7;
}

div.create_review textarea {
  width: 85%;
  height: 60px;
  border-radius: 20px 20px 0 0;
  font-size: 1em;
  font-family: Raleway;
  padding: 3%;
  text-align: center;
  margin: 0 auto -1%;
  outline: none;
}

div.review_submit input {
  margin: 0 auto 5%;
  width: 91%;
  font-size: 1em;
  font-family: Raleway;
  padding: 2%;
  border-radius: 0 0 20px 20px;
  background-color: #CBE8E4;
}

div.review_submit input:active {
  background-color: #97BAA4;
}

div.review_content {
  width: 100%;
}

div.review_content li {
  display: inline-block;
  width: 94%;
  margin-left: -6%;
  background-color: #B4CAD4;
  font-size: 1.2em;
  padding: 3%;
  border-radius: 20px;
}

div.review_content ul p.edit_delete {
  margin: 1% 5% 6%;
}

// QUOTES

div.quote_wrapper_wrapper {
  position: relative;
  width: 100%;
}

div.quote_wrapper_wrapper p {
  margin: 3%;
  font-size: 1.25em;
  font-weight: bold;
  opacity: 0.7;
  text-align: center;
}

div.quote_wrapper {
  position: relative;
  width: 94%;
  margin: 3%;
  display: flex;
  justify-content: space-around;
}

div.quote_wrapper .button_4 {
  position: relative;
  width: 140%;
  display: inline;
  margin-left: -21%;
}

// LENDING

div.lend_wrapper {
  margin: 10%;
  text-align: center;
  font-size: 1.2em;
}
