// Place all the styles related to the my_books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// READING PROGRESS BAR

div.reading_progress {
  width: 90%;
  height: 2%;
  background-color: white;
  border: 5px solid black;
  border-radius: 100px;
  margin: 3% auto;
  position: relative;
}

div.prog_statement {
  margin: 0 auto -2%;;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

div.prog_statement h2 {
  display: inline;
  margin-right: 2%;
}

div.progress_track {
  display: inline;
  max-width: 60%;
  height: 100%;
  margin: 0;
}

input#user_page {
  margin: 0 1% 0 -1%;
  font-size: 1.5em;
  width: 7%;
}

progress {
  position: absolute;
  border: 0;
  height: 100%;
  width: 100%;
  border-radius: 100px;
}

// REVIEWS

div.review_wrapper {
  height: 48%;
  text-align: center;
}

div.create_review h1 {
  font-size: 3em;
  font-family: 'Rock Salt';
  margin-bottom: 1%;
}

div.create_review textarea {
  width: 70%;
  height: 125px;
  border-radius: 80px 80px 0 0;
  font-size: 2em;
  padding: 3%;
  text-align: center;
  margin: 0;
  outline: none;
  border: 7px solid black;
  border-bottom: 0;
}

div.review_submit {
  margin: 0 auto 5%;
  width: 72%;
  font-size: 2em;
  font-family: Raleway;
  padding: 2%;
  border-radius: 0 0 80px 80px;
  background-color: #96E4D3;
  border: 7px solid black;
  border-top: 0;
}

div.review_submit input {
  font-size: 1.15em;
  font-family: Raleway;
}

div.review_submit:active {
  background-color: #3A8D6F;
}

div.review_content li {
  display: inline-block;
  margin-right: 5%;
  background-color: teal;
  font-size: 2.5em;
  padding: 3%;
  border-radius: 80px;
}
