// Place all the styles related to the quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

canvas#highlight {
  opacity: 0.4;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}
