// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// SHOW PAGE

h1 {
  text-align: center;
  font-size: 7em;
  color: white;
  font-family: 'Rock Salt', cursive;
  margin-bottom: 0;
}

div.login_form {
  text-align: center;
}

div.login_form h2 {
  font-size: 4em;
}

div.login_form input {
  width: 80%;
  margin: 3%;
  padding: 1.5%;
  font-size: 3em;
  border-radius: 20px;
}

div.form_submit input {
  width: 70%;
  background-color: #96E4D3;
  border: 2px solid black;
  box-shadow: 0 20px;
}

div.form_submit input:active {
  box-shadow: 0 10px;
  transform: translateY(10px);
}
