// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// WELCOME PAGE

// h1.welcome {
//   text-align: center;
//   font-size: 1.2em;
//   font-family: 'Raleway';
//   margin: 10% auto -17%;
//   position: relative;
//   z-index: 1;
// }

h1.brand {
  text-align: center;
  font-size: 3.5em;
  color: white;
  font-family: 'Bad Script', cursive;
  position: relative;
  z-index: 1;
  text-shadow: 4px 4px #364769;
  margin-top: 10%;
  margin-bottom: 0;
}

h2.about {
  text-align: center;
  font-family: 'Over the Rainbow', cursive;
  font-size: 1.75em;
  line-height: 1;
  opacity: 0.7;
  margin-top: -2%;
  letter-spacing: 2px;
}

div.sign_up_in {
  width: 100%;
  margin-top: 25%;
}

.button_1 {
  width: 55%;
  height: 42px;
  display: block;
  margin: 7% auto;
  padding: 1.5%;
  border-radius: 100px;
  background-color: #CBE8E4;
  color: black;
  border: 1px solid #364769;
  box-shadow: 3px 8px;
  font-family: Raleway;
  font-size: 1.1em;
  position: relative;
  z-index: 1;
  outline: none;
}

.button_1:active {
  box-shadow: 0 2px;
  transform: translateY(6px);
  outline: none;
  position: relative;
  z-index: 1;
}

// NEW USER PAGE

div.login_form {
  text-align: center;
  margin-bottom: 10%;
}

div.login_form h2 {
  margin: 0 auto 2%;
  font-family: 'Over the Rainbow', cursive;
  letter-spacing: 2px;
  line-height: 1;
  opacity: 0.7;
}

div.login_form input {
  width: 72%;
  margin: 3%;
  padding: 2% 3%;
  font-size: 1.1em;
  border-radius: 100px;
  font-family: Raleway;
}

div.form_submit input {
  width: 55%;
  padding: 3%;
  background-color: #CBE8E4;
  border: 1px solid #364769;
  box-shadow: 3px 8px;
}

div.form_submit input:active {
  box-shadow: 0 2px;
  transform: translateY(6px);
}

// USER SHOW PAGE

div.user_greeting {
  text-align: center;
  margin-top: 12%;
}

div.user_greeting h1 {
  font-family: 'Bad Script', cursive;
  font-size: 2.35em;
  color: white;
  margin: 5% auto 0;
}

div.bookcount {
  margin: auto 5%;
  padding-bottom: 5%;
  text-align: center;
}

div.bookcount p {
  font-family: Raleway, sans serif;
  font-size: 1.5em;
  margin: 0 auto 5%;
}

div.bookcount p:last-child {
  color: #CBE8E4;
  margin-bottom: -5%;
}

div.modify_user_form {
  position: relative;
  text-align: center;
  width: 100%;
  bottom: 10%;
  margin-bottom: 10%;
  padding-top: 15%;
}

div.modify_user_form h4 {
  font-size: 1.25em;
  margin: 10% 3% 3%;
  opacity: 0.7;
  font-weight: normal;
}

div.modify_input_wrapper {
  width: 90%;
  background-color: #CBE8E4;
  margin: 2% auto;
  text-align: right;
  border-radius: 100px;
  border: 1px solid #364769;
}

div.modify_input_wrapper p {
  margin: 0;
  font-size: 1em;
}

div.modify_user_form input {
  width: 60%;
  height: 100%;
  border-radius: 0 100px 100px 0;
  padding: 1%;
  margin-left: 1%;
  font-size: 1.1em;
  border-left: 1px solid #364769;
}

div.modify_user_form_submit {
  margin-top: 5%;
}

div.modify_user_form_submit input {
  width: 55%;
  font-size: 1.1em;
  padding: 2%;
  border-radius: 100px;
  background-color: #CBE8E4;
  border: 1px solid #364769;
  box-shadow: 3px 10px;
}

div.modify_user_form_submit input:active {
  box-shadow: 0 2px;
  transform: translateY(8px);
}

// FALLING BOOK ANIMATION

div.book_shower {
  width: 100%;
  height: 90%;
  z-index: -100;
  margin: auto;
  position: absolute;
  overflow: hidden;
  bottom: 0;
}

/* BOOK 1 */

div.book1 {
  position: absolute;
  width: 100px;
  height: 58px;
  bottom: 0;
  left: -5%;
  transform: rotate(-10deg);
}

div.book1 div.cover_left {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(10deg);
  position: absolute;
  margin-top: -4%;
  background-color: darkred;
}

div.book1 div.cover_spine {
  height: 100%;
  width: 8%;
  border: 1px solid black;
  margin-left: 45%;
  position: absolute;
  background-color: darkred;
}

div.book1 div.cover_right {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-10deg);
  position: absolute;
  margin-top: -4%;
  right: 0;
  background-color: darkred;
}

div.book1 div.l_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(15deg);
  position: absolute;
  left: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book1 div.r_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-15deg);
  position: absolute;
  right: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book1 div.l_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(25deg);
  position: absolute;
  left: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book1 div.r_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(-25deg);
  position: absolute;
  right: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book1 div.l_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(30deg);
  position: absolute;
  left: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, white, lightgray);
}

div.book1 div.r_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(-30deg);
  position: absolute;
  right: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, lightgray, white);
}

/* BOOK 2 */

div.book2 {
  position: absolute;
  width: 100px;
  height: 58px;
  // bottom: -1%;
  top: -25%;
  right: -3%;
  transform: rotate(6deg);
}

div.book2 div.cover_left {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(10deg);
  position: absolute;
  margin-top: -4%;
  background-color: darkblue;
}

div.book2 div.cover_spine {
  height: 100%;
  width: 8%;
  border: 1px solid black;
  margin-left: 45%;
  position: absolute;
  background-color: darkblue;
}

div.book2 div.cover_right {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-10deg);
  position: absolute;
  margin-top: -4%;
  right: 0;
  background-color: darkblue;
}

div.book2 div.l_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(15deg);
  position: absolute;
  left: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book2 div.r_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-15deg);
  position: absolute;
  right: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book2 div.l_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(25deg);
  position: absolute;
  left: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book2 div.r_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(-25deg);
  position: absolute;
  right: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book2 div.l_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(30deg);
  position: absolute;
  left: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, white, lightgray, lightgray);
}

div.book2 div.r_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(-30deg);
  position: absolute;
  right: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book2 div.r_page_0 {
  height: 95%;
  width: 28%;
  border: 1px solid black;
  transform: skewY(-40deg);
  position: absolute;
  right: 20%;
  margin-top: -11.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book2 div.r_page_00 {
  height: 95%;
  width: 20%;
  border: 1px solid black;
  transform: skewY(-50deg);
  position: absolute;
  right: 28%;
  margin-top: -13.5%;
  background: linear-gradient(90deg, gray, lightgray, white);
}

/* BOOK 3 */

div.book3 {
  position: absolute;
  width: 100px;
  height: 62px;
  // bottom: 0;
  top: -25%;
  left: 12%;
  transform: rotate(-70deg);
}

div.book3 div.cover_left {
  height: 100%;
  width: 48%;
  border: 1px solid black;
  margin-left: 16%;
  margin-top: -3%;
  transform: skewY(-3deg);
  position: absolute;
  background: linear-gradient(90deg, darkgreen, green);
}

div.book3 div.cover_spine {
  height: 100%;
  width: 15%;
  border: 1px solid black;
  position: absolute;
  background-color: darkgreen;
  transform: skewY(-12deg);
}

div.book3 div.cover_right {
  height: 100%;
  width: 50%;
  border: 1px solid black;
  position: absolute;
  margin-top: 1%;
  transform: skewY(-2deg);
  background: linear-gradient(90deg, darkgreen, green);
}

div.book3 div.page_2 {
  height: 100%;
  width: 46%;
  border: 1px solid black;
  margin-left: 13%;
  margin-top: -0.5%;
  transform: skewY(-3deg);
  position: absolute;
  background: linear-gradient(90deg, gray, lightgray, white);
}

div.book3 div.page_1 {
  height: 100%;
  width: 46%;
  border: 1px solid black;
  margin-left: 11%;
  transform: skewY(-1deg);
  position: absolute;
  background: linear-gradient(90deg, gray, lightgray, white);
}

/* BOOK 4 */

div.book4 {
  position: absolute;
  width: 100px;
  height: 58px;
  transform: rotate(130deg);
  // bottom: -3%;
  top: -25%;
  right: 34%;
}

div.book4 div.cover_left {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-10deg);
  position: absolute;
  margin-top: 2%;
  background: linear-gradient(90deg, orange, darkorange);
}

div.book4 div.cover_spine {
  height: 100%;
  width: 8%;
  border: 1px solid black;
  margin-left: 45%;
  margin-top: -2%;
  position: absolute;
  background-color: darkorange;
}

div.book4 div.cover_right {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(10deg);
  position: absolute;
  margin-top: 2%;
  right: 0;
  background: linear-gradient(90deg, darkorange, orange);
}

div.book4 div.l_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-15deg);
  position: absolute;
  left: 3%;
  margin-top: 5.5%;
  background: linear-gradient(white, lightgray);
}

div.book4 div.r_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(15deg);
  position: absolute;
  right: 3%;
  margin-top: 5.5%;
  background: linear-gradient(white, lightgray);
}

div.book4 div.l_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(-25deg);
  position: absolute;
  left: 8%;
  margin-top: 8%;
  background: linear-gradient(white, lightgray);
}

div.book4 div.r_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(25deg);
  position: absolute;
  right: 8%;
  margin-top: 8%;
  background: linear-gradient(white, lightgray);
}

div.book4 div.l_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(-30deg);
  position: absolute;
  left: 13%;
  margin-top: 8.5%;
  background: linear-gradient(90deg, white, lightgray, lightgray);
}

div.book4 div.r_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(30deg);
  position: absolute;
  right: 13%;
  margin-top: 8.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book4 div.r_page_0 {
  height: 95%;
  width: 28%;
  border: 1px solid black;
  transform: skewY(40deg);
  position: absolute;
  right: 20%;
  margin-top: 11.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book4 div.r_page_00 {
  height: 95%;
  width: 20%;
  border: 1px solid black;
  transform: skewY(50deg);
  position: absolute;
  right: 28%;
  margin-top: 13.5%;
  background: linear-gradient(90deg, gray, lightgray, white);
}

div.book4 div.l_page_0 {
  height: 95%;
  width: 28%;
  border: 1px solid black;
  transform: skewY(-40deg);
  position: absolute;
  left: 20%;
  margin-top: 11.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book4 div.l_page_00 {
  height: 95%;
  width: 20%;
  border: 1px solid black;
  transform: skewY(-50deg);
  position: absolute;
  left: 28%;
  margin-top: 13.5%;
  background: linear-gradient(90deg, gray, lightgray, white);
}

/* BOOK 5 */

div.book5 {
  position: absolute;
  width: 100px;
  height: 58px;
  // bottom: -2%;
  top: -25%;
  left: 50%;
  transform: rotate(20deg);
}

div.book5 div.cover_left {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(10deg);
  position: absolute;
  margin-top: -4%;
  background-color: darkred;
}

div.book5 div.cover_spine {
  height: 100%;
  width: 8%;
  border: 1px solid black;
  margin-left: 45%;
  position: absolute;
  background-color: darkred;
}

div.book5 div.cover_right {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-10deg);
  position: absolute;
  margin-top: -4%;
  right: 0;
  background-color: darkred;
}

div.book5 div.l_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(15deg);
  position: absolute;
  left: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book5 div.r_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-15deg);
  position: absolute;
  right: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book5 div.l_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(25deg);
  position: absolute;
  left: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book5 div.r_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(-25deg);
  position: absolute;
  right: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book5 div.l_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(30deg);
  position: absolute;
  left: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, white, lightgray);
}

div.book5 div.r_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(-30deg);
  position: absolute;
  right: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, lightgray, white);
}

/* BOOK 6 */

div.book6 {
  position: absolute;
  width: 100px;
  height: 62px;
  // bottom: 15%;
  top: -25%;
  left: 25%;
  transform: rotate(-15deg);
}

div.book6 div.cover_left {
  height: 100%;
  width: 48%;
  border: 1px solid black;
  margin-left: 16%;
  margin-top: -3%;
  transform: skewY(-3deg);
  position: absolute;
  background: linear-gradient(90deg, darkgreen, green);
}

div.book6 div.cover_spine {
  height: 100%;
  width: 15%;
  border: 1px solid black;
  position: absolute;
  background-color: darkgreen;
  transform: skewY(-12deg);
}

div.book6 div.cover_right {
  height: 100%;
  width: 50%;
  border: 1px solid black;
  position: absolute;
  margin-top: 1%;
  transform: skewY(-2deg);
  background: linear-gradient(90deg, darkgreen, green);
}

div.book6 div.page_2 {
  height: 100%;
  width: 46%;
  border: 1px solid black;
  margin-left: 13%;
  margin-top: -0.5%;
  transform: skewY(-3deg);
  position: absolute;
  background: linear-gradient(90deg, gray, lightgray, white);
}

div.book6 div.page_1 {
  height: 100%;
  width: 46%;
  border: 1px solid black;
  margin-left: 11%;
  transform: skewY(-1deg);
  position: absolute;
  background: linear-gradient(90deg, gray, lightgray, white);
}

/* BOOK 7 */

div.book7 {
  position: absolute;
  width: 100px;
  height: 58px;
  // bottom: 9%;
  top: -25%;
  right: 18%;
  transform: rotate(-10deg);
}

div.book7 div.cover_left {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(10deg);
  position: absolute;
  margin-top: -4%;
  background-color: darkred;
}

div.book7 div.cover_spine {
  height: 100%;
  width: 8%;
  border: 1px solid black;
  margin-left: 45%;
  position: absolute;
  background-color: darkred;
}

div.book7 div.cover_right {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-10deg);
  position: absolute;
  margin-top: -4%;
  right: 0;
  background-color: darkred;
}

div.book7 div.l_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(15deg);
  position: absolute;
  left: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book7 div.r_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-15deg);
  position: absolute;
  right: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book7 div.l_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(25deg);
  position: absolute;
  left: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book7 div.r_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(-25deg);
  position: absolute;
  right: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book7 div.l_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(30deg);
  position: absolute;
  left: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, white, lightgray);
}

div.book7 div.r_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(-30deg);
  position: absolute;
  right: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, lightgray, white);
}

/* BOOK 8 */

div.book8 {
  position: absolute;
  width: 100px;
  height: 58px;
  transform: rotate(25deg);
  // bottom: 6.5%;
  top: -25%;
  left: 23%;
}

div.book8 div.cover_left {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(10deg);
  position: absolute;
  margin-top: -4%;
  background-color: darkblue;
}

div.book8 div.cover_spine {
  height: 100%;
  width: 8%;
  border: 1px solid black;
  margin-left: 45%;
  position: absolute;
  background-color: darkblue;
}

div.book8 div.cover_right {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-10deg);
  position: absolute;
  margin-top: -4%;
  right: 0;
  background-color: darkblue;
}

div.book8 div.l_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(15deg);
  position: absolute;
  left: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book8 div.r_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-15deg);
  position: absolute;
  right: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book8 div.l_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(25deg);
  position: absolute;
  left: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book8 div.r_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(-25deg);
  position: absolute;
  right: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book8 div.l_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(30deg);
  position: absolute;
  left: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, white, lightgray, lightgray);
}

div.book8 div.r_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(-30deg);
  position: absolute;
  right: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book8 div.r_page_0 {
  height: 95%;
  width: 28%;
  border: 1px solid black;
  transform: skewY(-40deg);
  position: absolute;
  right: 20%;
  margin-top: -11.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book8 div.r_page_00 {
  height: 95%;
  width: 20%;
  border: 1px solid black;
  transform: skewY(-50deg);
  position: absolute;
  right: 28%;
  margin-top: -13.5%;
  background: linear-gradient(90deg, gray, lightgray, white);
}

/* BOOK 9 */

div.book9 {
  position: absolute;
  width: 100px;
  height: 58px;
  transform: rotate(-30deg);
  right: -2%;
  top: -25%;
  // bottom: 12%;
}

div.book9 div.cover_left {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-10deg);
  position: absolute;
  margin-top: 2%;
  background: linear-gradient(90deg, orange, darkorange);
}

div.book9 div.cover_spine {
  height: 100%;
  width: 8%;
  border: 1px solid black;
  margin-left: 45%;
  margin-top: -2%;
  position: absolute;
  background-color: darkorange;
}

div.book9 div.cover_right {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(10deg);
  position: absolute;
  margin-top: 2%;
  right: 0;
  background: linear-gradient(90deg, darkorange, orange);
}

div.book9 div.l_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-15deg);
  position: absolute;
  left: 3%;
  margin-top: 5.5%;
  background: linear-gradient(white, lightgray);
}

div.book9 div.r_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(15deg);
  position: absolute;
  right: 3%;
  margin-top: 5.5%;
  background: linear-gradient(white, lightgray);
}

div.book9 div.l_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(-25deg);
  position: absolute;
  left: 8%;
  margin-top: 8%;
  background: linear-gradient(white, lightgray);
}

div.book9 div.r_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(25deg);
  position: absolute;
  right: 8%;
  margin-top: 8%;
  background: linear-gradient(white, lightgray);
}

div.book9 div.l_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(-30deg);
  position: absolute;
  left: 13%;
  margin-top: 8.5%;
  background: linear-gradient(90deg, white, lightgray, lightgray);
}

div.book9 div.r_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(30deg);
  position: absolute;
  right: 13%;
  margin-top: 8.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book9 div.r_page_0 {
  height: 95%;
  width: 28%;
  border: 1px solid black;
  transform: skewY(40deg);
  position: absolute;
  right: 20%;
  margin-top: 11.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book9 div.r_page_00 {
  height: 95%;
  width: 20%;
  border: 1px solid black;
  transform: skewY(50deg);
  position: absolute;
  right: 28%;
  margin-top: 13.5%;
  background: linear-gradient(90deg, gray, lightgray, white);
}

div.book9 div.l_page_0 {
  height: 95%;
  width: 28%;
  border: 1px solid black;
  transform: skewY(-40deg);
  position: absolute;
  left: 20%;
  margin-top: 11.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book9 div.l_page_00 {
  height: 95%;
  width: 20%;
  border: 1px solid black;
  transform: skewY(-50deg);
  position: absolute;
  left: 28%;
  margin-top: 13.5%;
  background: linear-gradient(90deg, gray, lightgray, white);
}

/* BOOK 10 */

div.book10 {
  position: absolute;
  width: 100px;
  height: 58px;
  left: -5%;
  top: -25%;
  // bottom: 10%;
  transform: rotate(190deg);
}

div.book10 div.cover_left {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-10deg);
  position: absolute;
  margin-top: 2%;
  background: linear-gradient(90deg, orange, darkorange);
}

div.book10 div.cover_spine {
  height: 100%;
  width: 8%;
  border: 1px solid black;
  margin-left: 45%;
  margin-top: -2%;
  position: absolute;
  background-color: darkorange;
}

div.book10 div.cover_right {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(10deg);
  position: absolute;
  margin-top: 2%;
  right: 0;
  background: linear-gradient(90deg, darkorange, orange);
}

div.book10 div.l_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-15deg);
  position: absolute;
  left: 3%;
  margin-top: 5.5%;
  background: linear-gradient(white, lightgray);
}

div.book10 div.r_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(15deg);
  position: absolute;
  right: 3%;
  margin-top: 5.5%;
  background: linear-gradient(white, lightgray);
}

div.book10 div.l_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(-25deg);
  position: absolute;
  left: 8%;
  margin-top: 8%;
  background: linear-gradient(white, lightgray);
}

div.book10 div.r_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(25deg);
  position: absolute;
  right: 8%;
  margin-top: 8%;
  background: linear-gradient(white, lightgray);
}

div.book10 div.l_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(-30deg);
  position: absolute;
  left: 13%;
  margin-top: 8.5%;
  background: linear-gradient(90deg, white, lightgray, lightgray);
}

div.book10 div.r_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(30deg);
  position: absolute;
  right: 13%;
  margin-top: 8.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book10 div.r_page_0 {
  height: 95%;
  width: 28%;
  border: 1px solid black;
  transform: skewY(40deg);
  position: absolute;
  right: 20%;
  margin-top: 11.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book10 div.r_page_00 {
  height: 95%;
  width: 20%;
  border: 1px solid black;
  transform: skewY(50deg);
  position: absolute;
  right: 28%;
  margin-top: 13.5%;
  background: linear-gradient(90deg, gray, lightgray, white);
}

div.book10 div.l_page_0 {
  height: 95%;
  width: 28%;
  border: 1px solid black;
  transform: skewY(-40deg);
  position: absolute;
  left: 20%;
  margin-top: 11.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book10 div.l_page_00 {
  height: 95%;
  width: 20%;
  border: 1px solid black;
  transform: skewY(-50deg);
  position: absolute;
  left: 28%;
  margin-top: 13.5%;
  background: linear-gradient(90deg, gray, lightgray, white);
}

/* BOOK 11 */

div.book11 {
  position: absolute;
  width: 100px;
  height: 58px;
  // bottom: 21%;
  top: -25%;
  right: -5%;
  transform: rotate(-6deg);
}

div.book11 div.cover_left {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(10deg);
  position: absolute;
  margin-top: -4%;
  background-color: darkred;
}

div.book11 div.cover_spine {
  height: 100%;
  width: 8%;
  border: 1px solid black;
  margin-left: 45%;
  position: absolute;
  background-color: darkred;
}

div.book11 div.cover_right {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-10deg);
  position: absolute;
  margin-top: -4%;
  right: 0;
  background-color: darkred;
}

div.book11 div.l_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(15deg);
  position: absolute;
  left: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book11 div.r_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-15deg);
  position: absolute;
  right: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book11 div.l_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(25deg);
  position: absolute;
  left: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book11 div.r_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(-25deg);
  position: absolute;
  right: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book11 div.l_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(30deg);
  position: absolute;
  left: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, white, lightgray);
}

div.book11 div.r_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(-30deg);
  position: absolute;
  right: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, lightgray, white);
}

/* BOOK 12 */

div.book12 {
  position: absolute;
  width: 100px;
  height: 58px;
  left: 22%;
  top: -25%;
  // bottom: 23%;
  transform: rotate(-20deg);
}

div.book12 div.cover_left {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(10deg);
  position: absolute;
  margin-top: -4%;
  background-color: darkred;
}

div.book12 div.cover_spine {
  height: 100%;
  width: 8%;
  border: 1px solid black;
  margin-left: 45%;
  position: absolute;
  background-color: darkred;
}

div.book12 div.cover_right {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-10deg);
  position: absolute;
  margin-top: -4%;
  right: 0;
  background-color: darkred;
}

div.book12 div.l_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(15deg);
  position: absolute;
  left: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book12 div.r_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-15deg);
  position: absolute;
  right: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book12 div.l_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(25deg);
  position: absolute;
  left: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book12 div.r_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(-25deg);
  position: absolute;
  right: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book12 div.l_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(30deg);
  position: absolute;
  left: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, white, lightgray);
}

div.book12 div.r_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(-30deg);
  position: absolute;
  right: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, lightgray, white);
}

/* BOOK 13 */

div.book13 {
  position: absolute;
  width: 100px;
  height: 58px;
  right: 30%;
  // bottom: 18%;
  top: -25%;
  transform: rotate(12deg);
}

div.book13 div.cover_left {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(10deg);
  position: absolute;
  margin-top: -4%;
  background-color: darkblue;
}

div.book13 div.cover_spine {
  height: 100%;
  width: 8%;
  border: 1px solid black;
  margin-left: 45%;
  position: absolute;
  background-color: darkblue;
}

div.book13 div.cover_right {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-10deg);
  position: absolute;
  margin-top: -4%;
  right: 0;
  background-color: darkblue;
}

div.book13 div.l_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(15deg);
  position: absolute;
  left: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book13 div.r_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-15deg);
  position: absolute;
  right: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book13 div.l_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(25deg);
  position: absolute;
  left: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book13 div.r_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(-25deg);
  position: absolute;
  right: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book13 div.l_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(30deg);
  position: absolute;
  left: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, white, lightgray, lightgray);
}

div.book13 div.r_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(-30deg);
  position: absolute;
  right: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book13 div.r_page_0 {
  height: 95%;
  width: 28%;
  border: 1px solid black;
  transform: skewY(-40deg);
  position: absolute;
  right: 20%;
  margin-top: -11.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book13 div.r_page_00 {
  height: 95%;
  width: 20%;
  border: 1px solid black;
  transform: skewY(-50deg);
  position: absolute;
  right: 28%;
  margin-top: -13.5%;
  background: linear-gradient(90deg, gray, lightgray, white);
}

/* BOOK 14 */

div.book14 {
  position: absolute;
  width: 100px;
  height: 58px;
  // bottom: 17%;
  top: -25%;
  right: 0;
  transform: rotate(14deg);
}

div.book14 div.cover_left {
  height: 100%;
  width: 48%;
  border: 1px solid black;
  margin-left: 16%;
  margin-top: -3%;
  transform: skewY(-3deg);
  position: absolute;
  background: linear-gradient(90deg, darkgreen, green);
}

div.book14 div.cover_spine {
  height: 100%;
  width: 15%;
  border: 1px solid black;
  position: absolute;
  background-color: darkgreen;
  transform: skewY(-12deg);
}

div.book14 div.cover_right {
  height: 100%;
  width: 50%;
  border: 1px solid black;
  position: absolute;
  margin-top: 1%;
  transform: skewY(-2deg);
  background: linear-gradient(90deg, darkgreen, green);
}

div.book14 div.page_2 {
  height: 100%;
  width: 46%;
  border: 1px solid black;
  margin-left: 13%;
  margin-top: -0.5%;
  transform: skewY(-3deg);
  position: absolute;
  background: linear-gradient(90deg, gray, lightgray, white);
}

div.book14 div.page_1 {
  height: 100%;
  width: 46%;
  border: 1px solid black;
  margin-left: 11%;
  transform: skewY(-1deg);
  position: absolute;
  background: linear-gradient(90deg, gray, lightgray, white);
}

/* BOOK 15 */

div.book15 {
  position: absolute;
  width: 100px;
  height: 58px;
  // bottom: 22%;
  top: -25%;
  left: -10%;
  transform: rotate(42deg);
}

div.book15 div.cover_left {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(10deg);
  position: absolute;
  margin-top: -4%;
  background-color: darkblue;
}

div.book15 div.cover_spine {
  height: 100%;
  width: 8%;
  border: 1px solid black;
  margin-left: 45%;
  position: absolute;
  background-color: darkblue;
}

div.book15 div.cover_right {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-10deg);
  position: absolute;
  margin-top: -4%;
  right: 0;
  background-color: darkblue;
}

div.book15 div.l_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(15deg);
  position: absolute;
  left: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book15 div.r_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-15deg);
  position: absolute;
  right: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book15 div.l_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(25deg);
  position: absolute;
  left: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book15 div.r_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(-25deg);
  position: absolute;
  right: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book15 div.l_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(30deg);
  position: absolute;
  left: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, white, lightgray, lightgray);
}

div.book15 div.r_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(-30deg);
  position: absolute;
  right: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book15 div.r_page_0 {
  height: 95%;
  width: 28%;
  border: 1px solid black;
  transform: skewY(-40deg);
  position: absolute;
  right: 20%;
  margin-top: -11.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book15 div.r_page_00 {
  height: 95%;
  width: 20%;
  border: 1px solid black;
  transform: skewY(-50deg);
  position: absolute;
  right: 28%;
  margin-top: -13.5%;
  background: linear-gradient(90deg, gray, lightgray, white);
}

/* BOOK 16 */

div.book16 {
  position: absolute;
  width: 100px;
  height: 58px;
  top: -25%;
  // bottom: 30%;
  right: -7%;
  transform: rotate(-30deg);
}

div.book16 div.cover_left {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(10deg);
  position: absolute;
  margin-top: -4%;
  background-color: darkred;
}

div.book16 div.cover_spine {
  height: 100%;
  width: 8%;
  border: 1px solid black;
  margin-left: 45%;
  position: absolute;
  background-color: darkred;
}

div.book16 div.cover_right {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-10deg);
  position: absolute;
  margin-top: -4%;
  right: 0;
  background-color: darkred;
}

div.book16 div.l_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(15deg);
  position: absolute;
  left: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book16 div.r_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-15deg);
  position: absolute;
  right: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book16 div.l_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(25deg);
  position: absolute;
  left: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book16 div.r_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(-25deg);
  position: absolute;
  right: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book16 div.l_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(30deg);
  position: absolute;
  left: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, white, lightgray);
}

div.book16 div.r_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(-30deg);
  position: absolute;
  right: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, lightgray, white);
}

/* BOOK 17 */

div.book17 {
  position: absolute;
  width: 100px;
  height: 58px;
  // bottom: 38%;
  top: -25%;
  // left: -11%;
  left: 20%;
  transform: rotate(22deg);
}

div.book17 div.cover_left {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(10deg);
  position: absolute;
  margin-top: -4%;
  background-color: darkred;
}

div.book17 div.cover_spine {
  height: 100%;
  width: 8%;
  border: 1px solid black;
  margin-left: 45%;
  position: absolute;
  background-color: darkred;
}

div.book17 div.cover_right {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-10deg);
  position: absolute;
  margin-top: -4%;
  right: 0;
  background-color: darkred;
}

div.book17 div.l_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(15deg);
  position: absolute;
  left: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book17 div.r_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-15deg);
  position: absolute;
  right: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book17 div.l_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(25deg);
  position: absolute;
  left: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book17 div.r_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(-25deg);
  position: absolute;
  right: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book17 div.l_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(30deg);
  position: absolute;
  left: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, white, lightgray);
}

div.book17 div.r_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(-30deg);
  position: absolute;
  right: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, lightgray, white);
}

/* BOOK 18 */

div.book18 {
  position: absolute;
  width: 100px;
  height: 58px;
  // bottom: 26%;
  top: -25%;
  right: 24%;
  transform: rotate(190deg);
}

div.book18 div.cover_left {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-10deg);
  position: absolute;
  margin-top: 2%;
  background: linear-gradient(90deg, orange, darkorange);
}

div.book18 div.cover_spine {
  height: 100%;
  width: 8%;
  border: 1px solid black;
  margin-left: 45%;
  margin-top: -2%;
  position: absolute;
  background-color: darkorange;
}

div.book18 div.cover_right {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(10deg);
  position: absolute;
  margin-top: 2%;
  right: 0;
  background: linear-gradient(90deg, darkorange, orange);
}

div.book18 div.l_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-15deg);
  position: absolute;
  left: 3%;
  margin-top: 5.5%;
  background: linear-gradient(white, lightgray);
}

div.book18 div.r_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(15deg);
  position: absolute;
  right: 3%;
  margin-top: 5.5%;
  background: linear-gradient(white, lightgray);
}

div.book18 div.l_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(-25deg);
  position: absolute;
  left: 8%;
  margin-top: 8%;
  background: linear-gradient(white, lightgray);
}

div.book18 div.r_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(25deg);
  position: absolute;
  right: 8%;
  margin-top: 8%;
  background: linear-gradient(white, lightgray);
}

div.book18 div.l_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(-30deg);
  position: absolute;
  left: 13%;
  margin-top: 8.5%;
  background: linear-gradient(90deg, white, lightgray, lightgray);
}

div.book18 div.r_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(30deg);
  position: absolute;
  right: 13%;
  margin-top: 8.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book18 div.r_page_0 {
  height: 95%;
  width: 28%;
  border: 1px solid black;
  transform: skewY(40deg);
  position: absolute;
  right: 20%;
  margin-top: 11.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book18 div.r_page_00 {
  height: 95%;
  width: 20%;
  border: 1px solid black;
  transform: skewY(50deg);
  position: absolute;
  right: 28%;
  margin-top: 13.5%;
  background: linear-gradient(90deg, gray, lightgray, white);
}

div.book18 div.l_page_0 {
  height: 95%;
  width: 28%;
  border: 1px solid black;
  transform: skewY(-40deg);
  position: absolute;
  left: 20%;
  margin-top: 11.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book18 div.l_page_00 {
  height: 95%;
  width: 20%;
  border: 1px solid black;
  transform: skewY(-50deg);
  position: absolute;
  left: 28%;
  margin-top: 13.5%;
  background: linear-gradient(90deg, gray, lightgray, white);
}

/* BOOK 19 */

div.book19 {
  position: absolute;
  width: 100px;
  height: 58px;
  // bottom: 31%;
  top: -25%;
  left: 16%;
  transform: rotate(215deg);
}

div.book19 div.cover_left {
  height: 100%;
  width: 48%;
  border: 1px solid black;
  margin-left: 16%;
  margin-top: -3%;
  transform: skewY(-3deg);
  position: absolute;
  background: linear-gradient(90deg, darkgreen, green);
}

div.book19 div.cover_spine {
  height: 100%;
  width: 15%;
  border: 1px solid black;
  position: absolute;
  background-color: darkgreen;
  transform: skewY(-12deg);
}

div.book19 div.cover_right {
  height: 100%;
  width: 50%;
  border: 1px solid black;
  position: absolute;
  margin-top: 1%;
  transform: skewY(-2deg);
  background: linear-gradient(90deg, darkgreen, green);
}

div.book19 div.page_2 {
  height: 100%;
  width: 46%;
  border: 1px solid black;
  margin-left: 13%;
  margin-top: -0.5%;
  transform: skewY(-3deg);
  position: absolute;
  background: linear-gradient(90deg, gray, lightgray, white);
}

div.book19 div.page_1 {
  height: 100%;
  width: 46%;
  border: 1px solid black;
  margin-left: 11%;
  transform: skewY(-1deg);
  position: absolute;
  background: linear-gradient(90deg, gray, lightgray, white);
}

/* BOOK 20 */

div.book20 {
  position: absolute;
  width: 100px;
  height: 58px;
  top: -25%;
  // bottom: 29%;
  left: -1%;
  transform: rotate(-7deg);
}

div.book20 div.cover_left {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(10deg);
  position: absolute;
  margin-top: -4%;
  background-color: darkblue;
}

div.book20 div.cover_spine {
  height: 100%;
  width: 8%;
  border: 1px solid black;
  margin-left: 45%;
  position: absolute;
  background-color: darkblue;
}

div.book20 div.cover_right {
  height: 100%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-10deg);
  position: absolute;
  margin-top: -4%;
  right: 0;
  background-color: darkblue;
}

div.book20 div.l_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(15deg);
  position: absolute;
  left: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book20 div.r_page_3 {
  height: 95%;
  width: 45%;
  border: 1px solid black;
  transform: skewY(-15deg);
  position: absolute;
  right: 3%;
  margin-top: -5.5%;
  background: linear-gradient(white, lightgray);
}

div.book20 div.l_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(25deg);
  position: absolute;
  left: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book20 div.r_page_2 {
  height: 95%;
  width: 40%;
  border: 1px solid black;
  transform: skewY(-25deg);
  position: absolute;
  right: 8%;
  margin-top: -8%;
  background: linear-gradient(white, lightgray);
}

div.book20 div.l_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(30deg);
  position: absolute;
  left: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, white, lightgray, lightgray);
}

div.book20 div.r_page_1 {
  height: 95%;
  width: 35%;
  border: 1px solid black;
  transform: skewY(-30deg);
  position: absolute;
  right: 13%;
  margin-top: -8.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book20 div.r_page_0 {
  height: 95%;
  width: 28%;
  border: 1px solid black;
  transform: skewY(-40deg);
  position: absolute;
  right: 20%;
  margin-top: -11.5%;
  background: linear-gradient(90deg, lightgray, white);
}

div.book20 div.r_page_00 {
  height: 95%;
  width: 20%;
  border: 1px solid black;
  transform: skewY(-50deg);
  position: absolute;
  right: 28%;
  margin-top: -13.5%;
  background: linear-gradient(90deg, gray, lightgray, white);
}

// FALLING BOOK ANIMATION

div.firstwave,
div.secondwave,
div.thirdwave,
div.fourthwave {
  height: 100%;
  width: 100%;
}

div.firstwave > div {
  animation-direction: normal;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

div.secondwave > div {
  animation-direction: normal;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

div.thirdwave > div {
  animation-direction: normal;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

div.fourthwave > div {
  animation-direction: normal;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

div.book1 {
  animation-delay: 0s;
  animation-name: bookfloat1;
}

div.book2 {
  animation-delay: 1s;
  animation-name: bookfloat2;
}

div.book3 {
  animation-delay: 1.5s;
  animation-name: bookfloat3;
}

div.book4 {
  animation-delay: 2.25s;
  animation-name: bookfloat4;
}

div.book5 {
  animation-delay: 2.75s;
  animation-name: bookfloat5;
}

div.book6 {
  animation-delay: 4.75s;
  animation-name: bookfloat6;
}

div.book7 {
  animation-delay: 5s;
  animation-name: bookfloat7;
}

div.book8 {
  animation-delay: 3.5s;
  animation-name: bookfloat8;
}

div.book9 {
  animation-delay: 4s;
  animation-name: bookfloat9;
}

div.book10 {
  animation-delay: 5.5s;
  animation-name: bookfloat10;
}

div.book11 {
  animation-delay: 6.75s;
  animation-name: bookfloat11;
}

div.book12 {
  animation-delay: 7.75s;
  animation-name: bookfloat12;
}

div.book13 {
  animation-delay: 7.25s;
  animation-name: bookfloat13;
}

div.book14 {
  animation-delay: 8.5s;
  animation-name: bookfloat14;
}

div.book15 {
  animation-delay: 8s;
  animation-name: bookfloat15;
}

div.book16 {
  animation-delay: 9s;
  animation-name: bookfloat16;
}

div.book17 {
  animation-delay: 9.75s;
  animation-name: bookfloat17;
}

div.book18 {
  animation-delay: 10.25s;
  animation-name: bookfloat18;
}

div.book19 {
  animation-delay: 11s;
  animation-name: bookfloat19;
}

div.book20 {
  animation-delay: 10.5s;
  animation-name: bookfloat20;
}

@keyframes bookfloat1 {
  from {
    top: -25%;
  }

  25% {
    top: 25%;
    left: 45%;
  }

  50% {
    top: 50%;
    left: 10%;
  }

  75% {
    top: 70%;
    left: 35%;
  }

  to {
    top: 87%;
    left: -5%;
  }
}

@keyframes bookfloat2 {
  from {
    top: -25%;
    right: -3%;
  }

  25% {
    top: 35%;
    right: 65%;
  }

  50% {
    top: 50%;
    right: 10%;
  }

  75% {
    top: 70%;
    right: 55%;
  }

  to {
    top: 87%;
    right: -3%;
  }
}

@keyframes bookfloat3 {
  from {
    top: -25%;
    left: 12%;
  }

  25% {
    top: 35%;
    left: 65%;
  }

  50% {
    top: 50%;
    left: 10%;
  }

  75% {
    top: 70%;
    left: 55%;
  }

  to {
    top: 87%;
    left: 12%;
  }
}

@keyframes bookfloat4 {
  from {
    top: -25%;
    right: 34%;
  }

  25% {
    top: 15%;
    right: 75%;
  }

  50% {
    top: 40%;
    right: 10%;
  }

  75% {
    top: 74%;
    right: 55%;
  }

  to {
    top: 88%;
    right: 34%;
  }
}

@keyframes bookfloat5 {
  from {
    top: -25%;
    left: 50%;
  }

  25% {
    top: 7%;
    left: 75%;
  }

  50% {
    top: 27%;
    left: 12%;
  }

  75% {
    top: 60%;
    left: 90%;
  }

  to {
    top: 89%;
    left: 50%;
  }
}

@keyframes bookfloat6 {
  from {
    top: -25%;
    left: 25%;
  }

  25% {
    top: 3%;
    left: 35%;
  }

  50% {
    top: 18%;
    left: 10%;
  }

  75% {
    top: 55%;
    left: 55%;
  }

  to {
    top: 72%;
    left: 25%;
  }
}

@keyframes bookfloat7 {
  from {
    top: -25%;
    right: 18%;
  }

  25% {
    top: 3%;
    right: 35%;
  }

  50% {
    top: 18%;
    right: 12%;
  }

  75% {
    top: 55%;
    right: 60%;
  }

  to {
    top: 78%;
    right: 18%;
  }
}

@keyframes bookfloat8 {
  from {
    top: -25%;
    left: 23%;
  }

  25% {
    top: 12%;
    left: 35%;
  }

  50% {
    top: 28%;
    left: 12%;
  }

  75% {
    top: 60%;
    left: 60%;
  }

  to {
    top: 81%;
    left: 23%;
  }
}

@keyframes bookfloat9 {
  from {
    top: -25%;
    right: -2%;
  }

  25% {
    top: 10%;
    right: 35%;
  }

  50% {
    top: 28%;
    right: 12%;
  }

  75% {
    top: 60%;
    right: 60%;
  }

  to {
    top: 75%;
    right: -2%;
  }
}

@keyframes bookfloat10 {
  from {
    top: -25%;
    left: -5%;
  }

  25% {
    top: 12%;
    left: 15%;
  }

  50% {
    top: 28%;
    left: 2%;
  }

  75% {
    top: 40%;
    left: 40%;
  }

  to {
    top: 77%;
    left: -5%;
  }
}

@keyframes bookfloat11 {
  from {
    top: -25%;
    right: -5%;
  }

  25% {
    top: 12%;
    right: 15%;
  }

  50% {
    top: 28%;
    right: 2%;
  }

  75% {
    top: 40%;
    right: 60%;
  }

  to {
    top: 66%;
    right: -5%;
  }
}

@keyframes bookfloat12 {
  from {
    top: -25%;
    left: 22%;
  }

  25% {
    top: 20%;
    left: 5%;
  }

  50% {
    top: 30%;
    left: 40%;
  }

  75% {
    top: 40%;
    left: 80%;
  }

  to {
    top: 64%;
    left: 22%;
  }
}

@keyframes bookfloat13 {
  from {
    top: -25%;
    right: 30%;
  }

  25% {
    top: 10%;
    right: 5%;
  }

  50% {
    top: 25%;
    right: 45%;
  }

  75% {
    top: 50%;
    right: 10%;
  }

  to {
    top: 69%;
    right: 30%;
  }
}

@keyframes bookfloat14 {
  from {
    top: -25%;
    right: 0;
  }

  25% {
    top: 15%;
    right: 75%;
  }

  50% {
    top: 30%;
    right: 35%;
  }

  75% {
    top: 50%;
    right: 60%;
  }

  to {
    top: 70%;
    right: 0;
  }
}

@keyframes bookfloat15 {
  from {
    top: -25%;
    left: -10%;
  }

  25% {
    top: 15%;
    left: 70%;
  }

  50% {
    top: 32%;
    left: 20%;
  }

  75% {
    top: 48%;
    left: 45%;
  }

  to {
    top: 65%;
    left: -10%;
  }
}

@keyframes bookfloat16 {
  from {
    top: -25%;
    right: -7%;
  }

  25% {
    top: 12%;
    right: 20%;
  }

  50% {
    top: 28%;
    right: -2%;
  }

  75% {
    top: 40%;
    right: 37%;
  }

  to {
    top: 57%;
    right: -7%;
  }
}

@keyframes bookfloat17 {
  from {
    top: -25%;
    left: 20%;
  }

  30% {
    top: 12%;
    left: -1%;
  }

  60% {
    top: 40%;
    left: 37%;
  }

  to {
    top: 49%;
    left: -11%;
  }
}

@keyframes bookfloat18 {
  from {
    top: -25%;
    right: 24%;
  }

  30% {
    top: 12%;
    right: 60%;
  }

  60% {
    top: 40%;
    right: 5%;
  }

  to {
    top: 61%;
    right: 24%;
  }
}

@keyframes bookfloat19 {
  from {
    top: -25%;
    left: 16%;
  }

  30% {
    top: 12%;
    left: 60%;
  }

  60% {
    top: 40%;
    left: 5%;
  }

  to {
    top: 56%;
    left: 16%;
  }
}

@keyframes bookfloat20 {
  from {
    top: -25%;
    left: 30%;
  }

  30% {
    top: 12%;
    left: 5%;
  }

  60% {
    top: 40%;
    left: 18%;
  }

  to {
    top: 58%;
    left: -1%;
  }
}

/* DEVICE SPECIFICATIONS */

@media (min-height: 568px) {
  div.firstwave > div,
  div.secondwave > div,
  div.thirdwave > div,
  div.fourthwave > div {
    height: 60px;
    width: 102px;
  }
  div.book_shower {
    height: 93%;
    bottom: -2%;
  }
}

@media (min-height: 640px) {
  div.firstwave > div,
  div.secondwave > div,
  div.thirdwave > div,
  div.fourthwave > div {
    height: 75px;
    width: 115px;
  }
  div.book_shower {
    height: 95%;
    bottom: -2%;
  }
}

@media (min-height: 667px) {
  div.firstwave > div,
  div.secondwave > div,
  div.thirdwave > div,
  div.fourthwave > div {

  }
}

@media (min-height: 732px) {
  div.firstwave > div,
  div.secondwave > div,
  div.thirdwave > div,
  div.fourthwave > div {
    height: 85px;
    width: 127px;
  }
  div.book_shower {
    height: 95%;
    bottom: -2%;
  }
}
