// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// WELCOME PAGE

h1.welcome {
  text-align: center;
  font-size: 3em;
  font-family: 'Rock Salt';
  margin: 10% auto -17%;
}

.button_1 {
  width: 60%;
  height: 7%;
  display: block;
  margin: 10% auto;
  font-size: 3em;
  border-radius: 100px;
  background-color: #96E4D3;
  border: 2px solid black;
  box-shadow: 0 25px;
  font-family: Raleway;
}

.button_1:active {
  box-shadow: 0 10px;
  transform: translateY(15px);
  outline: none;
}

// NEW USER PAGE

h1.brand {
  text-align: center;
  font-size: 7em;
  color: white;
  font-family: 'Rock Salt', cursive;
  margin-bottom: 0;
}

div.login_form {
  text-align: center;
}

div.login_form h2 {
  font-size: 4em;
  margin: 2% auto;
}

div.login_form input {
  width: 74%;
  margin: 3%;
  padding: 2% 3%;
  font-size: 3em;
  border-radius: 100px;
  font-family: Raleway;
}

div.form_submit input {
  width: 60%;
  padding: 3%;
  background-color: #96E4D3;
  border: 2px solid black;
  box-shadow: 0 20px;
}

div.form_submit input:active {
  box-shadow: 0 10px;
  transform: translateY(10px);
}

// USER SHOW PAGE

div.user_greeting {
  text-align: center;
  margin-top: 20%;
}

div.user_greeting h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 2.36em;
  color: white;
  margin: 5% auto 0;
}

div.user_greeting p {
  font-size: 2.75em;
  margin: 0 auto 5%;
}

div.modify_user_form {
  position: relative;
  text-align: center;
  width: 100%;
  bottom: 10%;
  padding-top: 15%;
}

div.modify_user_form h4 {
  font-size: 3em;
  margin-bottom: 3%;
}

div.modify_input_wrapper {
  width: 60%;
  background-color: #96E4D3;
  margin: 2% auto;
  text-align: right;
  border-radius: 100px;
  border: 1px solid black;
}

div.modify_input_wrapper p {
  margin: 0;
  font-size: 2em;
}

div.modify_user_form input {
  width: 60%;
  height: 100%;
  border-radius: 0 100px 100px 0;
  padding: 1%;
  margin-left: 1%;
  font-size: 1.15em;
}

div.modify_user_form_submit input {
  width: 40%;
  font-size: 2.5em;
  padding: 2%;
  border-radius: 100px;
  background-color: #96E4D3;
  border: 2px solid black;
  box-shadow: 0 15px;
}

div.modify_user_form_submit input:active {
  box-shadow: 0 7px;
  transform: translateY(8px);
}
