<div class="create_borrow">
  <h1>Which book are you borrowing?</h1>
  <% @borrow = Borrow.new%>
  <%= form_for [@user, @borrow] do |f|%>
    <% f.label :title %>
    <%= f.text_field :title, placeholder: "Book title"%>
    <% f.label :friend%>
    <%= f.text_field :friend, placeholder: "Who did you borrow it from?" %>
    <div class="borrow_submit">
      <%= f.submit "Borrow!"%>
    </div>
  <% end %>
</div>
