<h1>My Library</h1>

<div class="book_pile">
    <%@my_books.each do |book| %>
    <div class="horizontal_book">
        <% edition = Edition.find(book.edition_id) %>
        <%= edition.title %>
    </div>
    <%end%>
</div>
